<!-- Yemek durumları : Bekleniyor , Alındı , Teslim Edildi-->
<!-- Button adları : Siparişi al , Teslim et -->
<table class="table table-striped" style="text-align : center">
  <thead>
    <tr>
      <th scope="col">Masa Numarası</th>
      <th scope="col">İsim</th>
      <th scope="col">Siparis Adı</th>
      <th scope="col">Sipariş Sayısı</th>
      <th scope="col">Söylenme Zamanı</th>
      <th scope="col">Siparis Durumu</th>
      <th scope="col">İşlem</th>
    </tr>
  </thead>
  <tbody>
    <%- include("aktif_siparis_listesi_partial.ejs" , {data : orders}); %>

  </tbody>
</table>
