.masa_card{
	height: 100%;
	border-radius: 0.3vw;
}
.masa_card_context{
	height: 100%;
  display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}
.masa_card_context p{
	margin : 0px;
}

.index_Numbers {
	font-size: 3vw;
}

.online {
	background-color : rgba(0, 200, 0, 0.5);
}

.offline{
	background-color : rgba(200, 0, 0, 0.5);
}
.table-color_blue{
	color : #fff;
    background-color: #17a2b8;
}
.table-color_grey{
	color : #fff;
	background-color :	#C0C0C0 ;
}
.stick_it{
  position : fixed;
  top: 18vmin ;
	width : 40%;
}

.switch_off{
	display : none;
}
.switch_on{
	display : block;
}

.myClass_alert{
	color : black;
	position : fixed;
	background-color: red;
	border-radius: 5px;
	padding-right: 20px;
	opacity : 0.9;
	top : 30%;
	left : 30%;
	width : 40%;
	z-index: 35;
}
.myClass_alert_leftNo{
	color : black;
	margin-left: 10%;
	width : 30%;
	border-radius: 5px;
	box-sizing : border-box;
}

.myClass_alert_rightYes{
	color : black;
 	margin-left : 15%;
	width : 30%;
	border-radius: 5px;
	box-sizing : border-box;

}
